*{
    margin: 0;
    padding: 0;
}

.quiz h2{
    font-size: 18px;
}

.quiz a{
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}

.quiz a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.quiz nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212741;
    height: 8vh;
    border:rgba(255, 254, 254, 0.7);
    border-style:outset;
}

.quiz main{
    background: url("Images/Background.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.quiz footer{
    color: gray;
    background-color: #212741;
    border:rgba(255, 254, 254, 0.7);
    border-style: outset;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: white;
    width: 320px;
    text-align: center;
}

.container img{
    width: 320px;
    height: 145px;
}


.respostas{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    background-color: #ff511a;
    border:rgba(255, 254, 254, 0.7);
    border-style:inset;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.respostas:hover{
    background-color: rgba(255, 99, 70, 0.670);
    border:rgba(255, 99, 70, 0.670);
    border-style: outset;
    color: black;
}

.centro{
    text-align: center;
    background-color: #ff511a;
    height: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 8px;
    font-size: 13px;

}

.bloqueado{
    display: none;
}

.bloqueado:hover{
    display: none;
}

.questoes{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}