@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

*{
    margin: 0;
    padding: 0;
}

.quiz h2{
    font-size: 18px;
}

.quiz a{
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}

.quiz a:hover{
    opacity: 0.7;
    color: #ff511a;
}


.quiz header{
    display:flex;
    flex-direction:column;
    justify-content:right;
    align-items: center;
    padding-right: 0px;
    padding-left: 90px;
    background-color: #212741;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-left: 400px;
}

.quiz header li{
    display: inline-block;
    margin: 20px;
    padding: 10px; 
    color: 	white;
}

#title{
    background-color: #ff511a;
    padding: 11px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
}

.quiz main{
    background: url("Images/Background.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.quiz footer{
    background-color: #212741;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    padding: 45px;
    text-align: center;
}


.container{
    font-family: 'Poppins', sans-serif;
    height: 81vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: #fff;
    width: 320px;
    text-align: center;
}

.container img{
    width: 320px;
    height: 140px;
}


.respostas{
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    background-color: #ff511a;
    border:rgba(255, 254, 254, 0.7);
    border-style:inset;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-radius: 10px;
    color: #fff;;
    font-size: 14px;
    cursor: pointer;
}

.respostas:hover{
    background-color: rgba(255, 99, 70, 0.670);
    border:rgba(255, 99, 70, 0.670);
    border-style: outset;
    color: black;
}

.centro{
    text-align: center;
    background-color: #ff511a;
    height: 2vh;
    font-family: 'Poppins', sans-serif;
    color: #fff;;
    padding: 8px;
    font-size: 13px;

}

.bloqueado{
    display: none;
}

.bloqueado:hover{
    display: none;
}

.questoes{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.opcao{
    margin-top: 48px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    background-color: #ff511a;
    border:rgba(255, 254, 254, 0.7);
    border-style:inset;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-radius: 10px;
    color: #fff;;
    font-size: 15px;
    cursor: pointer;
}

.opc{
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    background-color: #ff511a;
    border:rgba(255, 254, 254, 0.7);
    border-style:inset;
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-radius: 10px;
    color: #fff;;
    font-size: 15px;
    cursor: pointer;
}

.opcao:hover{
    background-color: rgba(255, 99, 70, 0.670);
    border:rgba(255, 99, 70, 0.670);
    border-style: outset;
    color: black;
}

.opc:hover{
    background-color: rgba(255, 99, 70, 0.670);
    border:rgba(255, 99, 70, 0.670);
    border-style: outset;
    color: black;
}