@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");

body{
    background-color: bisque;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
}



.user{
    margin: auto;
    height: 20rem;
    width: 50rem;
    background: #212741; 
}

.user_photo{
    text-align: center;
}

.info_user{
    text-align: center;
    color: white;
}

.progress_bar{
    margin-left: 10rem;
    margin-right: 10rem;
    border: 1px solid black;
}


.user_status{
    background: #ff511a;
    margin: auto;
    height: 50rem;
    width: 50rem;
}


.pontu_title{
    text-align: center;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.div_status{
    background: #FFFFFF;
    border-radius: 36px;
    height: 12rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
}

.img_sts{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pont_sts{
    margin-left: 30%;
}

.title_stts{
    font-size: 2rem;
    text-align: center;
}

button{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    transition-duration: 0.4s;
    background: #FFFFFF;
    border: 4px solid #FBAD64;
    box-sizing: border-box;
    width: 14rem;
    height: 4rem;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background: #000000; 
    color: white;
}