.body_calculadora{
    background-color: #FFF1CC;
    text-align: center;
}

.image_calc{
    text-align: center;
}

.result_co2{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.form_calc{
    margin-top: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form_calc_1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.form_calc_2{
    margin-right: 1rem;
    margin-left: 1rem;
}

.form_calc_lix{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
}

form{
    text-align: center;
}

input{
    background: #F19900;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}

.form_item_bottom{
    margin-top: 3rem;    
}

.calculadora{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;

    width: 470px;
    height: 470px;

    background: #D9D9D9;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 17px;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.CO2_total{
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: #000000;
}

.result_box{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: bold;

    width: 379px;
    height: 263px;
    left: 124px;
    top: 203px;

    background: #C4C4C4;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 17px;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.text_result{
    color: #000000;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.result_title{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    background: #F19900;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
}

.button_ok{
    text-align: center;
    margin-top: 2rem;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 0.4s;
    background: #FFFFFF;
    border: 4px solid #FBAD64;
    box-sizing: border-box;
    width: 10rem;
    height: 3rem;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button_ok:hover{
    background: #000000; 
    color: white;
}